
\.DS_Store

Project Vivado/

Efficient\.cr\.mti

Efficient\.mpf

*.mti

src/hw/Evaluation of Ai Bi/evaluator\.vhd

src/hw/Omura Addition/Omura_Optimized\.vhd

src/hw/Omura Addition/Omura_Optimized_tb\.vhd
